PKI factory/Source/MS .Net/DanskeBank.PKIFactory.Library/Service References/SoapService/PKIFactory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:tns="http://danskebank.dk/PKI/PKIFactoryService/elements" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://danskebank.dk/PKI/PKIFactoryService/elements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xmldsig-core-schema.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:import schemaLocation="xml_id.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:simpleType name="string10">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string50">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestIdType">
    <xs:restriction base="tns:string10" />
  </xs:simpleType>
  <xs:simpleType name="ReturncodeType">
    <xs:restriction base="tns:string10" />
  </xs:simpleType>
  <xs:simpleType name="ReturnTextType">
    <xs:restriction base="tns:string50" />
  </xs:simpleType>
  <xs:simpleType name="AdditionalReturnTextType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InterfaceVersionType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CRLReasonType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CertificateIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CertificateType">
    <xs:restriction base="xs:base64Binary">
      <xs:minLength value="1" />
      <xs:maxLength value="10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Pkcs10requestType">
    <xs:restriction base="xs:base64Binary">
      <xs:minLength value="1" />
      <xs:maxLength value="10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CustomerIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KeyGeneratorTypeType">
    <xs:annotation>
      <xs:documentation>Indicates the machine (hardware or software) used to create the keys in a certificate request. The value 'HSM' indicates that a Hardware Security Module generated the keys, while the value 'software' indicates that the keys were generated in software.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="HSM" />
      <xs:enumeration value="software" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EnvironmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="production" />
      <xs:enumeration value="customertest" />
      <xs:enumeration value="systemtest" />
      <xs:enumeration value="test" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CertificateTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="signing" />
      <xs:enumeration value="encryption" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CertificateStatusType">
    <xs:sequence>
      <xs:element name="CertificateSerialNo" type="tns:CertificateIdType" />
      <xs:element name="CertificateType" type="tns:CertificateTypeType" />
      <xs:element name="MatchingCertificateSerialNo" type="tns:CertificateIdType" />
      <xs:element name="Status">
        <xs:complexType>
          <xs:choice>
            <xs:element name="good">
              <xs:complexType>
                <xs:attribute name="expiryDate" type="xs:dateTime" use="optional" />
              </xs:complexType>
            </xs:element>
            <xs:element name="expires_soon">
              <xs:complexType>
                <xs:attribute name="expiryDate" type="xs:dateTime" use="optional" />
              </xs:complexType>
            </xs:element>
            <xs:element name="expired">
              <xs:complexType>
                <xs:attribute name="expiryDate" type="xs:dateTime" use="optional" />
              </xs:complexType>
            </xs:element>
            <xs:element name="revoked">
              <xs:complexType>
                <xs:attribute name="revocationDate" type="xs:dateTime" use="optional" />
                <xs:attribute name="CRLReason" type="tns:CRLReasonType" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCertificateRequest">
    <xs:annotation>
      <xs:documentation>Request to create a signing certificate and an encryption certificate for the customer. The customer is identified by an agreement number and a CAID.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerId" type="tns:CustomerIdType" />
        <xs:element name="KeyGeneratorType" type="tns:KeyGeneratorTypeType" />
        <xs:element name="EncryptionCertPKCS10" type="tns:Pkcs10requestType" />
        <xs:element name="SigningCertPKCS10" type="tns:Pkcs10requestType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element name="PIN" type="tns:string10" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCertificateResponse">
    <xs:annotation>
      <xs:documentation>Response to a CreateCertificateRequest.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element name="EncryptionCert" type="tns:CertificateType" />
        <xs:element name="SigningCert" type="tns:CertificateType" />
        <xs:element name="CACert" type="tns:CertificateType" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewCertificateRequest">
    <xs:annotation>
      <xs:documentation>Request to renew a signing certificate and an encryption certificate for the customer. The customer is identified by an agreement number and a name. The request is signed with the customers old signing certificate.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerId" type="tns:CustomerIdType" />
        <xs:element name="KeyGeneratorType" type="tns:KeyGeneratorTypeType" />
        <xs:element name="EncryptionCertPKCS10" type="tns:Pkcs10requestType" />
        <xs:element name="SigningCertPKCS10" type="tns:Pkcs10requestType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewCertificateResponse">
    <xs:annotation>
      <xs:documentation>Response to a RenewCertificateRequest.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element name="EncryptionCert" type="tns:CertificateType" />
        <xs:element name="SigningCert" type="tns:CertificateType" />
        <xs:element name="CACert" type="tns:CertificateType" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeCertificateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KeyGeneratorType" type="tns:KeyGeneratorTypeType" />
        <xs:element name="CustomerId" type="tns:CustomerIdType" />
        <xs:choice>
          <xs:element name="RevokeAll">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="10" name="ExceptCertificateSerialNo" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="10" name="CertificateSerialNo" type="tns:CertificateIdType" />
        </xs:choice>
        <xs:element minOccurs="0" name="CRLReason" type="tns:CRLReasonType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element maxOccurs="unbounded" name="CertificateSerialNo" type="tns:CertificateIdType" />
        <xs:element name="RevocationTime" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" name="Environment" type="tns:EnvironmentType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CertificateStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KeyGeneratorType" type="tns:KeyGeneratorTypeType" />
        <xs:element maxOccurs="10" name="CertificateSerialNo" type="tns:CertificateIdType" />
        <xs:element name="CustomerId" type="tns:CustomerIdType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CertificateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element maxOccurs="10" name="CertificateStatus" type="tns:CertificateStatusType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnCertificateListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KeyGeneratorType" type="tns:KeyGeneratorTypeType" />
        <xs:element name="CustomerId" type="tns:CustomerIdType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnCertificateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateStatus" type="tns:CertificateStatusType" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankCertificateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BankRootCertificateSerialNo" type="tns:CertificateIdType" />
        <xs:element name="Timestamp" type="xs:dateTime" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankCertificateResponse">
    <xs:annotation>
      <xs:documentation>Response to a GetBankCertificate request. Contains the relevant bank certificates.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReturnCode" type="tns:ReturncodeType" />
        <xs:element name="ReturnText" type="tns:ReturnTextType" />
        <xs:element name="BankEncryptionCert" type="tns:CertificateType" />
        <xs:element name="BankSigningCert" type="tns:CertificateType" />
        <xs:element name="BankRootCert" type="tns:CertificateType" />
        <xs:element name="RequestId" type="tns:RequestIdType" />
        <xs:element minOccurs="0" ref="ds:Signature" />
      </xs:sequence>
      <xs:attribute ref="xml:id" />
    </xs:complexType>
  </xs:element>
</xs:schema>